In [1]:
import json
import datetime as dt
import pandas as pd
from pyspark.sql.functions import col, monotonically_increasing_id, row_number
from pyspark.sql.window import Window
from pyspark.sql.types import *

In [2]:
JDBC_DW = {
    'url':'jdbc:oracle:thin:@realestate_high?TNS_ADMIN=/home/big/study/db/Wallet_REALESTATE'
    ,'props':{
        'user':'dw_realestate'
       ,'password':'123qwe!@#QWE'
    }   
}

JDBC_DM = {
    'url':'jdbc:oracle:thin:@realestate_high?TNS_ADMIN=/home/big/study/db/Wallet_REALESTATE'
    ,'props':{
        'user':'dm_realestate'
       ,'password':'123qwe!@#QWE'
    }   
}

### ACC_SELL_BUY_FOREIGN

In [6]:
foreigner = spark.read.jdbc(url=JDBC_DW['url'], table='OWN_FOREIGNER', properties=JDBC_DW['props'])

In [163]:
foreigner.createOrReplaceTempView("foreigner")
own_foreigner = spark.sql("""select BUYER_NATION as FOREIGNER, sum(TOT) as BUY_TOT , round((sum(TOT)/(select sum(TOT) from foreigner)*100),1) as BUY_RATE
from foreigner group by BUYER_NATION""")
own_foreigner = own_foreigner.withColumn('ASBF_IDX', row_number().over(Window.orderBy(monotonically_increasing_id())))
own_foreigner.show()

+------------+-------+--------+--------+
|   FOREIGNER|BUY_TOT|BUY_RATE|ASBF_IDX|
+------------+-------+--------+--------+
|      러시아|      2|     3.5|       1|
|      베트남|      4|     7.0|       2|
|      필리핀|      1|     1.8|       3|
|        기타|      2|     3.5|       4|
|우즈베키스탄|      1|     1.8|       5|
|        중국|     37|    64.9|       6|
|      타이완|      2|     3.5|       7|
|      캐나다|      1|     1.8|       8|
|        미국|      5|     8.8|       9|
|    뉴질랜드|      1|     1.8|      10|
|    키르기즈|      1|     1.8|      11|
+------------+-------+--------+--------+

In [152]:
own_foreigner.write.jdbc(url=JDBC_DM['url'], table='ACC_SELL_BUY_FOREIGN', mode='append', properties=JDBC_DM['props'])

### SELL_BUY_FOREIGN_YEAR

In [214]:
foreigner_year = spark.sql("""select BUYER_NATION as FOREIGNER, SUM(TOT) AS BUY_TOT, (select year(res_date) from foreigner group by year(res_date)) as YEAR from foreigner group by BUYER_NATION""")
foreigner_year = foreigner_year.withColumn('SBFY_IDX', row_number().over(Window.orderBy(monotonically_increasing_id())))
foreigner_year.show()

+------------+-------+----+--------+
|   FOREIGNER|BUY_TOT|YEAR|SBFY_IDX|
+------------+-------+----+--------+
|      러시아|      2|2022|       1|
|      베트남|      4|2022|       2|
|      필리핀|      1|2022|       3|
|        기타|      2|2022|       4|
|우즈베키스탄|      1|2022|       5|
|        중국|     37|2022|       6|
|      타이완|      2|2022|       7|
|      캐나다|      1|2022|       8|
|        미국|      5|2022|       9|
|    뉴질랜드|      1|2022|      10|
|    키르기즈|      1|2022|      11|
+------------+-------+----+--------+

In [215]:
foreigner_year.write.jdbc(url=JDBC_DM['url'], table='SELL_BUY_FOREIGN_YEAR', mode='append', properties=JDBC_DM['props'])

### ACC_SELL_BUY_FOREIGNER_SIDO

In [225]:
foreigner_sido = spark.sql("""select BUYER_NATION as FOREIGNER, sum(TOT) as BUY_TOT , RES_REGN_CODE as REGN
from foreigner group by BUYER_NATION, RES_REGN_CODE order by FOREIGNER""")
foreigner_sido = foreigner_sido.withColumn('ASBFS_IDX', row_number().over(Window.orderBy(monotonically_increasing_id())))
foreigner_sido.show()

+------------+-------+-----+---------+
|   FOREIGNER|BUY_TOT| REGN|ASBFS_IDX|
+------------+-------+-----+---------+
|        기타|      2|41000|        1|
|    뉴질랜드|      1|11000|        2|
|      러시아|      1|44000|        3|
|      러시아|      1|41000|        4|
|        미국|      1|11000|        5|
|        미국|      1|26000|        6|
|        미국|      3|41000|        7|
|      베트남|      1|27000|        8|
|      베트남|      1|47000|        9|
|      베트남|      1|28000|       10|
|      베트남|      1|41000|       11|
|우즈베키스탄|      1|28000|       12|
|        중국|     16|41000|       13|
|        중국|      1|26000|       14|
|        중국|      2|43000|       15|
|        중국|      4|48000|       16|
|        중국|      4|11000|       17|
|        중국|      1|27000|       18|
|        중국|      3|44000|       19|
|        중국|      6|28000|       20|
+------------+-------+-----+---------+
only showing top 20 rows

In [227]:
foreigner_sido.write.jdbc(url=JDBC_DM['url'], table='ACC_SELL_BUY_FOREIGN_SIDO', mode='append', properties=JDBC_DM['props'])

### ACC_SELL_BUY_TYPE

In [3]:
types = spark.read.jdbc(url=JDBC_DW['url'], table='OWN_TYPE', properties=JDBC_DW['props'])
types.createOrReplaceTempView("types")

In [4]:
types.show()

+------+-------------------+-------------+----+------------------------+
|OT_IDX|           RES_DATE|RES_REGN_CODE| TOT|               OWNER_CLS|
+------+-------------------+-------------+----+------------------------+
|     1|2022-09-22 00:00:00|        42000| 577|                  내국인|
|     2|2022-09-22 00:00:00|        42000|   4|                  외국인|
|     3|2022-09-22 00:00:00|        42000|  32|                    법인|
|     4|2022-09-22 00:00:00|        42000|   1|                  비법인|
|     5|2022-09-22 00:00:00|        41000|1422|                  내국인|
|     6|2022-09-22 00:00:00|        41000|   9|                  외국인|
|     7|2022-09-22 00:00:00|        41000| 191|                    법인|
|     8|2022-09-22 00:00:00|        41000|   1|국가기관 및 지방자치단체|
|     9|2022-09-22 00:00:00|        41000|   1|                    기타|
|    10|2022-09-22 00:00:00|        48000| 351|                  내국인|
|    11|2022-09-22 00:00:00|        48000|  34|                    법인|
|    12|2022-09-22 00:00:00|        47000| 304|                  내국인|
|    13|2022-09-22 00:00:00|        47000|  75|                    법인|
|    14|2022-09-22 00:00:00|        47000|  16|                  비법인|
|    15|2022-09-22 00:00:00|        29000|  70|                  내국인|
|    16|2022-09-22 00:00:00|        29000|   1|                  외국인|
|    17|2022-09-22 00:00:00|        29000|  20|                    법인|
|    18|2022-09-22 00:00:00|        27000| 104|                  내국인|
|    19|2022-09-22 00:00:00|        27000|   4|                    법인|
|    20|2022-09-22 00:00:00|        30000|  57|                  내국인|
+------+-------------------+-------------+----+------------------------+
only showing top 20 rows

In [8]:
own_type = spark.sql("""select OWNER_CLS as CLS, sum(TOT) as BUY_TOT , round((sum(TOT)/(select sum(TOT) from types)*100),1) as BUY_RATE
from types group by OWNER_CLS""")
own_type = own_type.withColumn('ASBT_IDX', row_number().over(Window.orderBy(monotonically_increasing_id())))
own_type.show()

+------------------------+-------+--------+--------+
|                     CLS|BUY_TOT|BUY_RATE|ASBT_IDX|
+------------------------+-------+--------+--------+
|                  외국인|     37|     0.7|       1|
|                    기타|      1|     0.0|       2|
|                  비법인|     49|     0.9|       3|
|                  내국인|   4824|    85.7|       4|
|                    법인|    707|    12.6|       5|
|국가기관 및 지방자치단체|     12|     0.2|       6|
+------------------------+-------+--------+--------+

In [9]:
own_type.write.jdbc(url=JDBC_DM['url'], table='ACC_SELL_BUY_TYPE', mode='append', properties=JDBC_DM['props'])

### SELL_BUY_TYPE_YEAR

In [11]:
type_year = spark.sql("""select OWNER_CLS as CLS, SUM(TOT) AS BUY_TOT, (select year(res_date) from types group by year(res_date)) as YEAR from types group by OWNER_CLS""")
type_year = type_year.withColumn('SBTY_IDX', row_number().over(Window.orderBy(monotonically_increasing_id())))
type_year.show()

+------------------------+-------+----+--------+
|                     CLS|BUY_TOT|YEAR|SBTY_IDX|
+------------------------+-------+----+--------+
|                  외국인|     37|2022|       1|
|                    기타|      1|2022|       2|
|                  비법인|     49|2022|       3|
|                  내국인|   4824|2022|       4|
|                    법인|    707|2022|       5|
|국가기관 및 지방자치단체|     12|2022|       6|
+------------------------+-------+----+--------+

In [12]:
type_year.write.jdbc(url=JDBC_DM['url'], table='SELL_BUY_TYPE_YEAR', mode='append', properties=JDBC_DM['props'])

### ACC_SELL_BUY_TYPE_SIDO

In [14]:
type_sido = spark.sql("""select OWNER_CLS as CLS, sum(TOT) as BUY_TOT , RES_REGN_CODE as REGN
from types group by OWNER_CLS, RES_REGN_CODE order by CLS""")
type_sido = type_sido.withColumn('ASBTS_IDX', row_number().over(Window.orderBy(monotonically_increasing_id())))
type_sido.show()

+------------------------+-------+-----+---------+
|                     CLS|BUY_TOT| REGN|ASBTS_IDX|
+------------------------+-------+-----+---------+
|국가기관 및 지방자치단체|      1|41000|        1|
|국가기관 및 지방자치단체|      1|45000|        2|
|국가기관 및 지방자치단체|      2|31000|        3|
|국가기관 및 지방자치단체|      3|43000|        4|
|국가기관 및 지방자치단체|      5|46000|        5|
|                    기타|      1|41000|        6|
|                  내국인|    229|45000|        7|
|                  내국인|     34|36110|        8|
|                  내국인|    261|11000|        9|
|                  내국인|     70|29000|       10|
|                  내국인|    211|28000|       11|
|                  내국인|    180|43000|       12|
|                  내국인|     57|30000|       13|
|                  내국인|    444|46000|       14|
|                  내국인|    304|47000|       15|
|                  내국인|    577|42000|       16|
|                  내국인|    262|44000|       17|
|                  내국인|   1422|41000|       18|
|                  내국인|     47|31000|       19|
|                  내국인|    183|26000|       20|
+------------------------+-------+-----+---------+
only showing top 20 rows

In [15]:
type_sido.write.jdbc(url=JDBC_DM['url'], table='ACC_SELL_BUY_TYPE_SIDO', mode='append', properties=JDBC_DM['props'])