In [63]:
import requests
import json
import datetime as dt
from hdfs import InsecureClient
from bs4 import BeautifulSoup
import pandas as pd

In [3]:
client = InsecureClient('http://localhost:9870', user='big')

### api실행함수 / 날짜 리스트 생성

In [24]:
def execute_rest_api(method, url, headers, params):
    if method == 'get':
        res = requests.get(url, params=params, headers=headers, verify = False)
    elif method == 'post':
        res = requests.post(url, params=params, headers=headers, verify = False)
        
    if res == None or res.status_code != 200:
        raise Exception('응답코드 : ' + str(res.status_code))
    
    return res.text

In [84]:
def cal_std_month(before_month):
    x = dt.datetime.now() - dt.timedelta(30*before_month) #현재날짜-지정날짜
    year = x.year #연도
    month = x.month if x.month >= 10 else '0'+ str(x.month) #월
    return str(year) + str(month)

### API 호출

In [8]:
# api 호출
url = "http://openapi.molit.go.kr/OpenAPI_ToolInstallPackage/service/rest/RTMSOBJSvc/getRTMSDataSvcAptTradeDev?"
service_key = 'NvoJpM4nyxzXkb5F8hffSDHLrfuCyIcVBqBSDCgTa+/7CtQnsrFwE8y/a0lLPVxN1AESAPkiMkfoS7KYrck13A=='
file_dir = '/real_estate/apartment_price/'

In [97]:
params = {'ServiceKey': service_key
              ,'pageNo': '1'
              ,'numOfRows': '2000'
              ,'LAWD_CD': '41190'
              ,'DEAL_YMD': '202209'
}

In [51]:
def make_date(year, month, day):
    if len(month) < 2:
        month = '0' + str(month)
    if len(day) < 2:
        day = '0' + str(day)
    res = year + '-' + month + '-' + day
    return res

In [98]:
data = []
for i in range(1, 70): #106
    print(cal_std_month(i))
    params['DEAL_YMD'] = cal_std_month(i)
    res = execute_rest_api('get', url, {}, params)
    soup = BeautifulSoup(res, 'xml')
    print(soup.find('totalCount'))
    sp_price = soup.findAll('거래금액')
    sp_year = soup.findAll('년')
    sp_month = soup.findAll('월')
    sp_day = soup.findAll('일')
    sp_area = soup.findAll('전용면적')
    sp_localcode = soup.findAll('지역코드')
    for k in range(len(sp_price)):
        data.append([sp_price[k].text.strip(), make_date(sp_year[k].text, sp_month[k].text, sp_day[k].text), sp_area[k].text, sp_localcode[k].text])  
print(len(data))
#print(data)

202208
<totalCount>148</totalCount>
202207
<totalCount>141</totalCount>
202207
<totalCount>141</totalCount>
202206
<totalCount>203</totalCount>
202205
<totalCount>290</totalCount>
202204
<totalCount>298</totalCount>
202203
<totalCount>274</totalCount>
202202
<totalCount>193</totalCount>
202201
<totalCount>179</totalCount>
202112
<totalCount>194</totalCount>
202111
<totalCount>243</totalCount>
202110
<totalCount>354</totalCount>
202109
<totalCount>411</totalCount>
202108
<totalCount>549</totalCount>
202107
<totalCount>652</totalCount>
202106
<totalCount>597</totalCount>
202105
<totalCount>758</totalCount>
202104
<totalCount>731</totalCount>
202103
<totalCount>903</totalCount>
202102
<totalCount>821</totalCount>
202101
<totalCount>864</totalCount>
202012
<totalCount>1069</totalCount>
202011
<totalCount>886</totalCount>
202010
<totalCount>768</totalCount>
202009
<totalCount>550</totalCount>
202008
<totalCount>623</totalCount>
202007
<totalCount>1093</totalCount>
202006
<totalCount>1557</totalCount>
202005
<totalCount>1094</totalCount>
202004
<totalCount>842</totalCount>
202003
<totalCount>1207</totalCount>
202002
<totalCount>1660</totalCount>
202001
<totalCount>933</totalCount>
201912
<totalCount>962</totalCount>
201911
<totalCount>1063</totalCount>
201910
<totalCount>1125</totalCount>
201909
<totalCount>825</totalCount>
201908
<totalCount>675</totalCount>
201907
<totalCount>722</totalCount>
201906
<totalCount>607</totalCount>
201905
<totalCount>601</totalCount>
201904
<totalCount>543</totalCount>
201903
<totalCount>580</totalCount>
201902
<totalCount>396</totalCount>
201901
<totalCount>452</totalCount>
201812
<totalCount>488</totalCount>
201811
<totalCount>566</totalCount>
201810
<totalCount>1026</totalCount>
201809
<totalCount>1883</totalCount>
201808
<totalCount>1202</totalCount>
201807
<totalCount>613</totalCount>
201806
<totalCount>612</totalCount>
201805
<totalCount>632</totalCount>
201804
<totalCount>630</totalCount>
201803
<totalCount>943</totalCount>
201802
<totalCount>603</totalCount>
201801
<totalCount>648</totalCount>
201712
<totalCount>521</totalCount>
201711
<totalCount>585</totalCount>
201710
<totalCount>676</totalCount>
201709
<totalCount>798</totalCount>
201708
<totalCount>757</totalCount>
201707
<totalCount>943</totalCount>
201706
<totalCount>961</totalCount>
201705
<totalCount>930</totalCount>
201704
<totalCount>762</totalCount>
201703
<totalCount>865</totalCount>
201702
<totalCount>631</totalCount>
201701
<totalCount>398</totalCount>
48450

In [99]:
df = pd.DataFrame(data)

In [100]:
with client.write(file_dir + 'apart_price_data_' + params['LAWD_CD'] + '.csv', overwrite=True, encoding='cp949') as writer:
    df.to_csv(writer, header=['거래금액(만원)', '거래날짜', '전용면적',  '지역코드'], index=False)

In [ ]:
# 날짜 리스트
deal_y = ['201'+str(i) for i in range(4,10)]
deal_y.append('2020')
deal_y.append('2021')
deal_y.append('2022')

deal_ymd = []
for year in deal_y:
        for m in range(1,13):
            if m < 10:
                m = str(0) + str(m)
            if year+str(m) > '202209' :
                break
            deal_ymd.append(year+str(m))
print(len(deal_ymd))
deal_ymd